node_modules
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
.env
*/bin
*/obj
README.md
LICENSE
.vscode

dist/

# Distribution / packaging
.Python
[Ii]nclude/
env/
share/
bin/
local/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
[Ll]ib/
lib64/
parts/
[Ss]cripts/
sdist/
[Tt]lc
var/
wheels/
*.egg-info/
.installed.cfg
*.egg